*{
  margin: 0;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 46px;
  background-color: #32CD32;
  color: white;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

img {
  border: 4px solid #32CD32;;
}

section {
  display: inline-block;
  margin-left: 10px;
}

article {
  display: inline;
}

.Pointed-Ears {
  display: inline;
}

.Dogs {
  display: block;
}

.Different-Canines {
  display: block;
}

.Herding-Dogs {
  display: inline;
}

.Smaller-Dogs {
  display: inline;
}

.Two-Dogs {
  display: inline;
}

.Dog-And-Wolf {
  display: inline;
}

.Three-Different-Dogs {
  display: flex;
  flex-direction: row
}

.Gold-and-Bull {
  display: block;
}

.Cute-Dogs {
  display: inline;
}

.Collie {
  width: 350px;
  height: 635px;
  object-fit: cover;
}

.Wolf-Pup {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.French-Bulldog {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.Pug {
  width: 700px;
  height: 635px;
  object-fit: cover;
}

.Wolf {
  height: 635px;
  width: 325px;
  object-fit: cover;
}

.Goldendoodle {
  width: 400px;
  height: 635px;
  object-fit: cover;
}

.Doxin {
  height: 635px;
  width: 300px;
  object-fit: cover;
}

.German-Shepherd {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.Yellow-Lab {
  width: 700px;
  height: 635px;
  object-fit: cover;
}

.Scarf-Dog {
  width: 800px;
  height: 600px;
  object-fit: cover;
}

.Shar-Pei {
  width: 1412px;
  height: 480px;
  object-fit: cover;
}

.Greater-Swiss-Mountain-Dog {
  height: 500px;
  width: 900px;
  object-fit: cover;
}

.Havanese-Puppy {
  height: 500px;
  object-fit: cover;
}

.Howling-Wolf {
  height: 600px;
  width: 400;
  object-fit: cover;
}

.Beagle {
  height: 550px;
  width: 900px;
  object-fit: cover;
}

.Mexican-Grey-Wolf {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.Akita {
  height: 550px;
  width: 500px;
  object-fit: cover;
}

.Austrailian-Shepherd {
  height: 425px;
  width: 750px;
  object-fit: cover;
}

.Austrailian-Cattle-Dog {
  height: 425px;
  object-fit: cover;
}

.Basset-Hound {
  width: 600px;
  height: 500px;
  object-fit: cover;
}

.Belgian-Malionis {
  width: 800px;
  height: 500px;
  object-fit: cover;
}

.Chow-Chow {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

.Cheaspeake-Bay-Retreiver {
  height: 400px;
  width: 950px;
  object-fit: cover;
}

.Dalmatian {
  height: 550px;
  object-fit: cover;
}

.Mexican-Grey-Wolf {
  height: 550px;
  width: 970px;
  object-fit: cover;
}

.Golden-Retreiver {
  width: 720px;
  height: 400px;
  object-fit: cover;
  margin-left: 5px;
}

.Bull-Terrier {
  height: 888px;
  width: 720px;
  object-fit: cover;
  margin-left: 5px;
}

.German-Shorthaired-Pointer {
  object-fit: cover;
  width: 720px;
  height: 1300px;
  /* height: 750px; */
  /* margin-bottom: 5px; */
}

.Mastiff {
  width: 1413px;
  object-fit: cover;
  /* margin-top: 5px; */
}

.Great-Pyrenees {
  height: 475px;
  width: 475px;
  object-fit: cover
}

.German-Shepherd-Lab-Mix {
  height: 475px;
  object-fit: cover;
}

.Samoyed {
  height: 475px;
  width: 535px;
  object-fit: cover;
}

.Howling-Wolf {
  height: 1800px;
  width: 1420px;
  object-fit: cover;
}
